@import "../styles/theme.css";
@import "../styles/animations.css";

*,
p {
  margin: unset;
  padding: unset;
}

body {
  background-color: var(--c-bg);
  color: var(--c-text);
}

input {
  color: var(--c-text);
}

.bg-1 {
  background-color: var(--c-bg);
}

.bg-2 {
  background-color: var(--c-bg-2);
}

.bg-3 {
  background-image: var(--c-grad-1);
}

.bg-accent {
  background-color: var(--c-accent);
}

.bg-danger-1 {
  background-color: var(--c-danger-bg);
}

.bg-warning-1 {
  background-color: var(--c-warning-bg);
}

.bg-success-1 {
  background-color: var(--c-success-bg);
}

.icon {
  color: var(--c-text);
}

.icon.--btn:hover,
.icon.--active {
  color: var(--c-accent);
}

a {
  color: var(--c-text);
}

a:hover,
a>*:hover {
  color: var(--c-accent);
}

.border-light {
  border: 0.1px solid var(--c-text);
}

.border-light-start {
  border-left: 0.1px solid var(--c-text);
}

.border-light-end {
  border-right: 0.1px solid var(--c-text);
}

.border-light-top {
  border-top: 0.1px solid var(--c-text);
}

.border-light-bottom {
  border-bottom: 0.1px solid var(--c-text);
}

.cr-pointer {
  cursor: pointer;
}

.accent-shadow {

  -webkit-box-shadow: -20px 8px 24px 1px var(--c-accent);
  -moz-box-shadow: -20px 8px 24px 1px var(--c-accent);
  box-shadow: -20px 8px 24px 1px var(--c-accent);

}