@import "../styles/theme.css";
@import "../styles/animations.css";

*,
p {
  margin: unset;
  padding: unset;
}

body {
  background-color: var(--c-bg);
  color: var(--c-text);
}

input {
  color: var(--c-text);
}

.bg-1 {
  background-color: var(--c-bg);
}

.bg-2 {
  background-color: var(--c-bg-2);
}

.bg-accent {
  background-color: var(--c-accent);
}

.icon {
  color: var(--c-text);
}

.icon.--btn:hover,
.icon.--active {
  color: var(--c-accent);
}

a:hover,
a>*:hover {
  color: var(--c-accent);
}

.border-light {
  border: 0.1px solid var(--c-text);
}

.border-light-start {
  border-left: 0.1px solid var(--c-text);
}

.border-light-end {
  border-right: 0.1px solid var(--c-text);
}

.border-light-top {
  border-top: 0.1px solid var(--c-text);
}

.border-light-bottom {
  border-bottom: 0.1px solid var(--c-text);
}

.cr-pointer {
  cursor: pointer;
}