:root {
  --c-grey-1: #1b1b1b;
  --c-grey-2: #2b2b2b;
  --c-grey-3: #9e9d9d;
  --c-grey-4: #dddddd;
  --c-grey-5: #242424b7;
  --c-grey-6: #242424;
  --c-violet-1: #358680;
  --c-violet-2: #35868015;

  --c-grad-1: linear-gradient(to bottom right, #8656f9, #07b96b);
}

@media (prefers-color-scheme: dark) {
  :root {
    --c-bg: var(--c-grey-1);
    --c-bg-2: var(--c-grey-2);
    --c-bg-3: var(--c-grey-5);
    --c-bg-4: var(--c-grey-6);
    --c-text: var(--c-grey-3);
    --c-accent: var(--c-violet-1);
    --c-accent-bg: var(--c-violet-2);
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --c-bg: var(--c-grey-3);
    --c-bg-2: var(--c-grey-4);
    --c-bg-3: var(--c-grey-3);
    --c-bg-4: var(--c-grey-6);
    --c-text: var(--c-grey-1);
    --c-accent: var(--c-violet-1);
    --c-accent-bg: var(--c-violet-1);
  }
}