:root {
  --c-grey-1: #1b1b1b;
  --c-grey-2: #2b2b2b;
  --c-grey-3: #cfc9c9;
  --c-grey-4: #dddddd;
  --c-grey-5: #242424b7;
  --c-grey-6: #242424;

  --blue-1: #437ade;

  --c-violet-2: #35868015;

  --c-danger-1: #b46a6a;
  --c-danger-2: #502f2f;

  --c-warning-1: #6e6515;
  --c-warning-2: #d3c01a;

  --c-success-1: #22664c;
  --c-success-2: #38aa7e;

  --c-grad-1: linear-gradient(to bottom right, #6656f9, #07b9b0);
}

@media (prefers-color-scheme: dark) {
  :root {
    --c-bg: var(--c-grey-1);
    --c-bg-2: var(--c-grey-2);
    --c-bg-3: var(--c-grey-5);
    --c-bg-4: var(--c-grey-6);
    --c-text: var(--c-grey-3);
    --c-accent: var(--blue-1);
    --c-accent-bg: var(--c-violet-2);
    --c-danger-bg: var(--c-danger-2);
    --c-success-bg: var(--c-success-1);
    --c-warning-bg: var(--c-warning-1);
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --c-bg: var(--c-grey-3);
    --c-bg-2: var(--c-grey-4);
    --c-bg-3: var(--c-grey-3);
    --c-bg-4: var(--c-grey-6);
    --c-text: var(--c-grey-1);
    --c-accent: var(--blue-1);
    --c-accent-bg: var(--blue-1);
    --c-danger-bg: var(--c-danger-1);
    --c-success-bg: var(--c-success-2);
    --c-warning-bg: var(--c-warning-2);
  }
}